services:
  monitoramento-api:
    build: .
    container_name: monitoramento-integracoes
    restart: unless-stopped
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - DATABASE_USER=${DATABASE_USER}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}
      - SPRING_DATASOURCE_HIKARI_MAX_LIFETIME=600000
      - SPRING_WEB_CORS_ALLOWED_ORIGINS=http://129.148.54.123:4200,https://monitoramento-integracoes.citelsoftware.com.br
      - SPRING_WEB_CORS_ALLOWED_METHODS=GET,POST,PUT,DELETE,PATCH,OPTIONS
      - SPRING_WEB_CORS_ALLOWED_HEADERS=*
      - SPRING_WEB_CORS_ALLOW_CREDENTIALS=true
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=network_traefik"
      - "traefik.http.routers.monitoramento-api-router.rule=Host(`monint.citelsoftware.com.br`)"
      - "traefik.http.routers.monitoramento-api-router.entrypoints=websecure"
      - "traefik.http.routers.monitoramento-api-router.tls=true"
      - "traefik.http.routers.monitoramento-api-router.tls.certresolver=tlschallenge"
      - "traefik.http.services.monitoramento-api-service.loadbalancer.server.port=3001"
    networks:
      network_traefik:
        ipv4_address: 172.20.0.10

networks:
  network_traefik:
    external: true
